*.pro.user
build-oaiclient*/*
build-ExamplePlugin*/*
.plg/*.so
.plg/*.dll
.plg/lib*.a
ai-ronaut.db
ai-ronaut_client*
*.log
plg_shared/*
installer/packages/ai.asianirish.ai-ronaut/data/*.exe
installer/packages/ai.asianirish.ai-ronaut/data/ai-ronaut
installer/packages/ai.asianirish.ai-ronaut/data/*.dll
installer/packages/ai.asianirish.ai-ronaut/data/*.so